html {
    position: relative;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron {
    height: 635px;
    background-image: url(gambar/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #000;
    background-position: 0 -100px;
    overflow: hidden;
}

.jumbotron img {
    text-align: center;
    top: 0;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border: 5px solid #191f36;
    text-shadow: 1px 1px 10px rbga(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rbga(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    min-height: 100px;
}

.about {
    height: 635px;
    font-family: 'comic sans ms';
    font-size: 16px;
    font-weight: 800;
    background-color: lightskyblue;
    color: #000;
}

.about hr {
    width: 250px;
    border-top: 3px solid;
    border-color: #191f36;
}

.galeri hr {
    width: 250px;
    border-top: 3px solid;
    border-color: #191f36;
}

.galeri .thumbnail.muncul {
    opacity: 1;
}

.contact hr {
    width: 250px;
    border-top: 3px solid;
    border-color: #191f36;
    color: #000;
}

.galeri {
    background-color: lightskyblue;
    color: #000;
    justify-content: center;
}

.contact {
    min-height: 600px;
    background-color: lightskyblue;
    color: #000;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #191f36;
    padding-top: 43px;
}

footer p {
    color: #aaa;
    font-size: 1em;
}

footer p i {
    color: lightskyblue;
}
