@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 62.5%;
    overflow: scroll;
}

body {
    background-color: #191f36;
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.navbar {
    background-color: #191f36; /* Ubah kode warna ini sesuai keinginan */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #191f36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;   
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    cursor: default;
}



#menu-icon {
    font-size: 3.6rem;
    color: #fff;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0 -100px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

span {
    color: #59B2f4;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
    border: none;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #59B2f4;
    border-radius: 50%;
    font-size: 2rem;
    color: #59B2f4;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #59B2f4;
    color: #191f36;
    box-shadow: 0 0 1rem #59B2f4;
}

.profil {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #191f36;
    padding: 10px 50px 0 50px;
}

.heading {
    text-align: center;
    font-size: 50px;
}

.profil img {
    text-align: right;
    height: 500px;
    width: 500px;
    text-shadow: 1px 1px 10px rbga(0, 0, 0, 0.5);
    border: none;
}

.profil .thumbnail.muncul {
    opacity: 1;
}

.tentangsaya {
    font-size: 15px;
}

.jadwalperkuliahan table {
        border-collapse: collapse; 
        width: 100%; 
        background-color: #010a2e;
}    

.jadwalperkuliahan td {
        padding: 10px;
        text-align: left; 
        border: 1px solid #59B2f4;
        font-size: 16px;
}

.jadwalperkuliahan th {
    background-color: #59B2f4;
    font-size: 20px;
}
    
.jadwalperkuliahan img {
    width: 750px;
    height: 350px;
}

.hobi {
    font-size: 16px;
}

.pendaftaran {
    background-color: #191f36;
  }
  
  .pendaftaran h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .pendaftaran form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #59B2f4;
    border-radius: 4px;
  }
  
  .pendaftaran .user-details {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pendaftaran .input-inbox {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .pendaftaran .input-inbox span.details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pendaftaran .input-inbox input,
  .pendaftaran .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pendaftaran .form-group textarea {
    height: 100px;
    width: 455px;
  }
  
  .pendaftaran .input-category {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .pendaftaran .btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .pendaftaran .btn:hover {
    background-color: #333;
  }
  
  @media (max-width: 768px) {
    .pendaftaran form {
      width: 100%;
    }
  }
  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #191f36;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background-color: #59B2f4;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #59B2f4;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    background-color: #59B2f4;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 16px;
      padding-top: 10px;
    }
    
    .header {
      display: flex;
      flex-direction: column;
    }
  
    .navbar {
      display: flex;
      font-size: 12px;
    }
  
    .home-content {
      padding: 5rem 1rem 1rem;
    }

    .home-content h3 {
        font-size: 10px;
    }

    .home-content h1 {
        font-size: 6px;
    }

    .home-content p {
        font-size: 6px;
    }
  
    .home-img img {
      width: 40vw;
      height: 20vh;
      margin-top: 4rem;
    }
  
    .profil {
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }
  
    .profil img {
      padding-top: 10px;
      width: 25vw;
      height: 25vh;
    }
  
    .jadwalperkuliahan {
        padding-top: 5px; 
    }

    .jadwalperkuliahan table {
      width: 100%;
    }
  
    .hobi {
      padding-top: 5px;
      font-size: 14px;
    }
  
    .pendaftaran form {
      width: 100%;
      font-size: 15px;
    }

    .pendaftaran .form-group textarea {
        height: 100px;
        width: 315px;
      }
  
    .footer {
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }
  }
  